@{
    ViewData["Title"] = "Products";
}
@model Product

<div class="Container">
    <div class="header">
    <a href="products">Products</a>
    <a href="categories">Categories</a>  
    </div>
    <div class="bodyContext">
        <form asp-action="addproduct" asp-controller="home" method="post">
            <label asp-for="ProductName">Prodict Name</label>
            <input asp-for="ProductName" type="text">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" type="text">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="text">
            <button type ="submit"> Create </button>
        </form>

        <div>
            @foreach(var product in ViewBag.AllProducts)
            {
            <ul>
                <li><a href="product/@product.ProductId">@product.ProductName</a></li>
            </ul>
            }

        </div>

    </div>
</div>
